* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  font-size: 16px;
  line-height: 25.88px;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.hero_container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c0b38), to(#2b1055));
  background: linear-gradient(#1c0b38, #2b1055);
}

.hero_container .hero_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#1b0b35), to(black));
  background: linear-gradient(#1b0b35, black);
  z-index: 1;
  width: 35vw;
  height: 35vw;
  border-radius: 360%;
  padding: 2rem;
  -webkit-box-shadow: 5px 5px 45px blueviolet;
          box-shadow: 5px 5px 45px blueviolet;
}

.hero_container h1, .hero_container h2 {
  color: white;
  white-space: nowrap;
  z-index: 9;
  font-size: 3.2rem;
  font-weight: 700;
}

.hero_container h2 {
  margin-bottom: 2rem;
}

.hero_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#stars {
  width: 100%;
  background: repeat;
}

#moon {
  mix-blend-mode: screen;
}

#mountains_front {
  z-index: 10;
}

#mountains_behind {
  z-index: 1;
}

#btn {
  text-decoration: none;
  padding: 0.5rem 2.25rem;
  border-radius: 45px;
  background-color: white;
  color: #2b1055;
  font-size: 1rem;
  z-index: 9;
  text-align: center;
  width: 35%;
}

.content_1 {
  width: 100%;
  height: 100vh;
  z-index: 9999 !important;
  position: relative;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c0b38), to(black));
  background: linear-gradient(#1c0b38, black);
}

.content_1 .content_1_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_1 .c1_flex_child {
  width: 38%;
  min-width: 450px;
  margin: 5rem 0 0 -50% !important;
  background: white;
  z-index: 11;
  color: black;
  border-radius: 45px;
  padding: 2rem;
}

.content_1 .c1_flex_child h2 {
  font-weight: 800;
}

.content_1 img {
  position: absolute;
  width: 85%;
  top: 1rem;
  z-index: 1;
}

.words {
  background: -webkit-gradient(linear, left top, left bottom, from(#1c0b38), to(black));
  background: linear-gradient(#1c0b38, black);
  color: white;
  padding: 5rem;
  z-index: 9999 !important;
  position: relative;
}

.words p {
  margin: 2rem 0;
}
/*# sourceMappingURL=style.css.map */